.page {
    max-width: calc(100vw - 256px - 8px);
}

.page-header {
    background-color: var(--gray-2);
    position: fixed;
    top: 0;
    right: 0;
    left: 256px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 0.2rem;
    z-index: 800;

    .heading {
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        font-size: 1.2rem;
        letter-spacing: 0.3ch;
        color: var(--gray-9);
        line-height: 1.8rem;
        margin-right: 1.2rem;
    }

    .btn {
        background-color: white;
    }
}

.container {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.btns-group {
    display: flex;
    height: 1.8rem;
    flex-direction: row;
    align-items: center;
}

.btn {
    background-color: var(--gray-2);
    position: relative;
    border: none;
    padding-right: 1.8rem;
    min-width: 1.8rem;
    width: fit-content;
    height: 1.8rem;
    border-radius: 1.8rem;
    margin-left: 0.8rem;
    outline: none;
    border: solid 1px transparent;

    .btn-text {
        font-size: 0.75rem;
        margin-left: 0.5rem;
        color: var(--gray-65);
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.1ch;
    }

    svg {
        fill: var(--gray-8);
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-15%, -50%);
        width: 1.4rem;
        height: 1.4rem;
    }
}

.btn.btn-submit {
    background-color: #b3ffb8;

    .btn-text {
        color: var(--gray-10);
    }

    svg {
        fill: var(--gray-10);
    }
}

.btn.btn-submit:active {
    background-color: #61e286;
}

.btn:hover {
    border: solid 1px var(--gray-65);
}

.btn:active {
    border: solid 1px var(--gray-65);
    background-color: var(--gray-2);
}

.btn[disabled] {
    background-color: var(--gray-0);
    color: var(--gray-4);
    border-color: transparent;

    svg {
        fill: var(--gray-4);
    }
}

.form-btn {
    background-color: #d8ffe3;
    position: relative;
    border: none;
    padding: 0.3rem 1.2rem;
    margin-top: 1.5rem;
    min-width: 1.8rem;
    width: fit-content;
    height: 2.4rem;
    border-radius: 1.8rem;
    outline: none;
    border: solid 1px transparent;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1ch;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: pre;

    svg {
        fill: var(--gray-8);
        margin-left: 0.4rem;
        width: 1.4rem;
        height: 1.4rem;
    }
}

.form-btn:hover {
    border: solid 1px var(--gray-65);
}

.form-btn:active {
    border: solid 1px var(--gray-65);
    background-color: #b3ffb8;
}

.form-btn[disabled] {
    background-color: var(--gray-0);
    color: var(--gray-4);
    border-color: transparent;

    svg {
        fill: var(--gray-4);
    }
}

.draft-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    font-size: 1rem;
}

.status {
    color: var(--gray-65);
    font-size: 0.8rem;
    text-align: right;
}

.form {
    max-width: 550px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-header {
    margin-bottom: 0;

    >input.form-title {
        border-bottom: solid 2px var(--gray-3);
    }
}

.section {
    margin-bottom: 3.2rem;
}

.sub-section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1.5rem 0 0.5rem 0;
}

.section-heading {
    font-size: 1.6rem;
    font-weight: 400;
    margin: 1.5rem 0 0.5rem 0;
}

.sub-section-heading {
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0.2ch;
    text-transform: uppercase;
}

@media screen and (max-width: 950px) {
    .page-header {
        left: 0;
    }

    .page {
        max-width: calc(100vw - 6px);
    }

    .page-header>.heading {
        margin-left: 2.2rem;
    }
}

@media screen and (max-width: 550px) {
    .page-header>.heading {
        width: 0;
        opacity: 0;
        user-select: none;
        white-space: nowrap;
    }
}