.draft {
    @media screen and (max-width: 548px) {
        display: none;
    }
}

.form {
    max-width: 550px;
}

.form-header {
    margin-top: 1.5rem;
    margin-bottom: 0;

    >input.form-title {
        border-bottom: solid 2px var(--gray-3);
    }
}