.submission {
    .images {
        margin: 1rem 0 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        gap: 1rem;

        .image-wrapper {
            position: relative;
            max-width: 450px;

            >img {
                width: 100%;
                height: auto;
            }

            button.btn {
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(50%, -50%);
                background-color: #ffd8d8;
                border: solid 1px var(--gray-7);
                padding: 0.25rem;
                border-radius: 16px;
                width: 32px;
                height: 32px;

                svg {
                    fill: var(--gray-8);
                    width: 22px;
                    height: 22px;
                }
            }

            button.btn:hover {
                border-color: var(--gray-8);
            }

            button.btn:active {
                border-color: var(--gray-10);
                background-color: #fdb5b5;
            }
        }
    }

    .img-caption {
        font-size: 0.95rem;
        margin: 0.75rem 0;
        text-align: left;
        max-width: fit-content;
    }
}

.table-desc {
    min-width: 45vw;
    max-width: 2080px;

    @media screen and (max-width: 768px) {
        min-width: calc(80vw - 3.2rem);
    }
}