.activity-component {
    .last-updated {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 2rem;
    }

    .summary {
        h2 {
            font-weight: 400;
        }

        margin: 1rem 0 2rem;
    }
}

.image-container {
    width: 100%;
    max-width: 350px;
    margin: 0.8rem 0.8rem 0 0;

    >div {
        position: unset !important;
    }

    .image {
        object-fit: contain;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
    }
}

.table-desc {
    min-width: 50vw;

    @media screen and (max-width: 768px) {
        min-width: calc(100vw - 3.2rem);
    }
}