.nav-wrapper {
    grid-area: sidebar;
    background-color: var(--gray-3);
    z-index: 1000;
    min-height: calc(100vh - 6px);
    position: sticky;
    left: 0;
    transition: transform 0.3s ease 0s;

    .nav-toggle-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        padding: 1.14rem;
        display: none;
    }

    .nav-toggle {
        height: 1.8rem;
        width: 1.8rem;
        background-color: var(--gray-1);
        border: solid 1px var(--gray-7);
        border-radius: 4px;

        svg {
            fill: black;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.nav {
    position: sticky;
    top: 0;

    .logo {
        padding: 1.2rem 0.2rem 1.8rem;
        margin: 0 0.6rem;
    }

    .nav-items {
        width: 256px;
        list-style-type: none;
        padding: 0;
        overflow-y: auto;

        .nav-item {
            a {
                font-weight: 600;
                font-size: 1.2rem;
                position: relative;
                text-transform: uppercase;
                display: inline-block;
                padding: 0.6rem 0.2rem;
                margin: 0.6rem 1.2rem;
                text-decoration: none;
                color: var(--gray-6);
                transition: all 0.3s ease;
            }

            a.active {
                color: var(--gray-10);
            }

            a::after {
                content: "";
                height: 0.125rem;
                width: 100%;
                position: absolute;
                top: calc(50% - 0.1rem);
                left: 0;
                transform: scaleX(0);
                background-color: var(--gray-6);
                transform-origin: left;
                transition: 0.2s transform ease-out;
            }

            a:hover {
                color: var(--gray-10);
            }

            a:hover::after {
                transform: scaleX(1);
            }

            a:active::after {
                transform-origin: right;
                background-color: var(--gray-10);
                transform: scaleX(0);
            }

            a.active::after {
                transform: scaleX(1);
            }
        }

        .nav-item {
            .logout {
                background-color: #fff;
                border: 1px solid var(--gray-4);
                border-radius: 2rem;
                font-weight: 500;
                font-size: 1.2rem;
                position: relative;
                display: inline-block;
                padding: 0.6rem 0.2rem;
                margin: 0.6rem 1.2rem;
                text-decoration: none;
                color: var(--gray-8);
                transition: all 0.2s cubic-bezier(0.0, 0, 0.2, 1);

                .btn-txt {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding-left: 0.5rem;
                    padding-right: 2.2rem;
                    position: relative;
                    font-size: 0.85rem;
                    text-transform: uppercase;
                    letter-spacing: 0.15ch;

                    svg {
                        position: absolute;
                        right: 0;
                        display: inline-block;
                        height: 1.2rem;
                        width: auto;
                        fill: var(--gray-8);
                    }
                }
            }

            .logout:hover {
                border-color: var(--gray-6);
                background-color: var(--gray-0);
                transition: all 0.1s cubic-bezier(0.0, 0, 0.2, 1);
            }

            .logout:active {
                color: var(--gray-10);
                border-color: var(--gray-10);
                background-color: var(--gray-2);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-100%);

        .nav-toggle-wrapper {
            display: block;
        }
    }

    .nav-wrapper.nav-open {
        transform: translateX(0);
    }
}